<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout.html}"
>
  <head></head>
  <body>
    <div layout:fragment="contents">
      <section class="expenseList">
        <h2>My Expenses</h2>

        <a
          href="/newexpense"
          id="add_expense"
          >Add a new expense</a
        >
        <p
          id="no_expenses"
          th:if=" not ${grandTotal}"
        >
          You don't have any expenses!
        </p>

        <div
          id="expenses"
          th:unless="not ${grandTotal}"
        >
          <table>
            <thead>
              <tr class="headers">
                <th>when</th>
                <th>what</th>
                <th>amount spent</th>
                <th>Payment Requested</th>
                <th>Payments Received</th>
                <th>Nett Expense</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="expense : ${expenses}">
                <td
                  th:id="'date_' + ${expense.id}"
                  th:text="${expense.date}"
                ></td>
                <td>
                  <a
                    th:id="'payment_request_' + ${expense.id}"
                    th:href="@{paymentrequest(expenseId=${expense.id}) }"
                    th:text="${expense.description}"
                  >
                  </a>
                </td>
                <td
                  th:id="'amount_' + ${expense.id}"
                  th:text="${expense.amount}"
                ></td>
                <td
                  th:id="'request_' + ${expense}"
                  th:text="${expense.totalAmountOfPaymentsRequested()}"
                ></td>
                <td
                  th:id="'received_' + ${expense.id}"
                  th:text="${expense.totalAmountForPaymentsReceived()}"
                ></td>
                <td
                  th:id="'nett_' + ${expense.id}"
                  th:text="${expense.amountLessPaymentsReceived()}"
                ></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">Total Expenses</td>
                <td
                  id="grand_total"
                  th:text="${grandTotal}"
                ></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>
