<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout.html}"
>
  <head></head>
  <body>
    <div layout:fragment="contents">
      <section class="paymentrequest">
        <h2>Submit a payment request for the following expense</h2>

        <br />

        <table>
          <body>
            <tr>
              <td colspan="2">Date</td>
              <td
                id="expense_date"
                th:text="${expense.date}"
              ></td>
            </tr>
            <tr>
              <td colspan="2">Description</td>
              <td
                id="expense_description"
                th:text="${expense.description}"
              ></td>
            </tr>
            <tr>
              <td colspan="2">Amount</td>
              <td
                id="expense_amount"
                th:text="${expense.amount}"
              ></td>
            </tr>
          </body>
        </table>
        <div
          id="previous_payment"
          th:if="${not #lists.isEmpty(paymentRequest)}"
        >
          <h2>Previous Payment Request for this expense</h2>

          <table>
            <thead>
              <tr>
                <th>Who</th>
                <th>Due</th>
                <th>Paid?</th>
                <th>How Much</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="request : ${paymentRequest}">
                <td
                  th:id="'paymentrequest_who_' + ${request.id}"
                  th:text="${request.getPersonWhoShouldPayBack().getName()}"
                ></td>
                <td
                  th:id="'paymentrequest_date_' + ${request.id}"
                  th:text="${request.getDueDate()}"
                ></td>
                <td
                  th:id="'paymentrequest_paid_' + ${request.id}"
                  th:text="${request.isPaid()}"
                ></td>
                <td
                  th:id="'paymentrequest_amount_' + ${request.id}"
                  th:text="${request.getAmountToPay()}"
                ></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3"></td>
                <td
                  id="total_paymentrequests"
                  th:text="${total}"
                ></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <form
          method="post"
          action="/paymentrequest.action"
          enctype="application/x-www-form-urlencoded"
        >
          <label for="email"
            >The email address of the person that should pay you</label
          >
          <input
            name="email"
            id="email"
            type="email"
            autofocus
            required
          />

          <label for="amount"
            >The amount they should pay (maximum ZAR300.00!)</label
          >
          <input
            name="amount"
            id="amount"
            type="number"
            min="1"
            max="300"
            required
          />

          <label for="due_date"
            >By when must this claim be settled (dd/mm/yyyy)</label
          >
          <input
            name="due_date"
            id="due_date"
            type="date"
            required
          />
          <input
            id="expense_id"
            name="expense_id"
            type="hidden"
            th:value="${id}"
          />

          <input
            id="submit"
            type="submit"
            value="Submit"
          />
        </form>
      </section>
    </div>
  </body>
</html>
